@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Welcome to Movies & Ratings</h1>

<div class="alert alert-info" role="alert">
    <p>You are now logged in. Use the navigation menu to:</p>
    <ul>
        <li><a href="/movies">Manage Movies</a></li>
        <li><a href="/ratings">Manage Ratings</a></li>
    </ul>
</div>
