
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="https://blazor.cdn.telerik.com/blazor/9.1.0/kendo-theme-default/swatches/default-ocean-blue.css" />
    <script src="https://blazor.cdn.telerik.com/blazor/9.1.0/telerik-blazor.min.js" defer></script>
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Movies.VerticalSlice.Blazor.styles.css"]" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body class="k-body">
    <Routes @rendermode="@InteractiveServer" />
    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            Blazor.start();
        });
    </script>
</body>

</html>

